html {
    --theme-color: #0448cf;
    --text-color: #23bfd0; 
    --text-family: "Permanent Marker", cursive;
}
.cell{
    width: 75px;
    height:75px;
    border: 2px solid;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer{
    font-family: var(--text-family);
    text-align: center;
    color: var(--text-color);
}

#cellContainer{
    display:    grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
    color: var(--theme-color);

}

#statustext{
    text-align: center;
    font-family: var(--text-family);
    color: var(--text-color);
}

#restartBtn {
    font-family: var(--text-family);
    margin: 0 auto;
    display: block;
    border: 3px solid var(--theme-color);
    border-radius: 3px;
    padding: 4px 8px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    top: -2px;
    left: -2px;
    transition: transform 0.2s;
    z-index: 1;
    user-select: none;
}

#restartBtn:hover,
#restartBtn:focus {
    transform: translate(2px, 2px);
}



